body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

.socialmediaicons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.socialmediaicons ul li {
  display: inline-block;
  margin-left: 5px;
}

.socialmediaicons ul li img {
  width: 30px;
  border-radius: 50%;
}

.socialmediaicons{
	text-align: center;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

/* Loader styles */
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Info styles */
.info {
  display: none;
  font-size: 22px;
  color: #333;
  padding: 10px;
  border: 2px solid #ccc;
  background-color: #b69ad6;
  border-radius: 8px;
}

/* Ensure table layout doesn't shift during loading */
table {
  width: 100%;
  table-layout: fixed;
}

table th, table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

/* Hide loader and maintain the table space */
#loader-wrapper {
  position: relative;
  height: 500px; /* Adjust as necessary to maintain table space */
}
